#root {
  width: calc(100% - 100px);
  height: 100%;
  margin: 50px;
  padding: 20px;
  text-align: center;
  border: 1px solid red;
}

#canvas {
  border: 1px solid rgb(8, 195, 8);
  background: #2e6182;
}
